@import 'tailwindcss';

:root {
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  margin: 0;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f1f1f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @theme {
    --color-primary: #4206f7;
    --color-silver: #c9c9c9;
    --color-light-gray: #aaaaaa;
    --color-steel: #4b4b4b;
    --color-muted: #8e8e8e;
    --color-midnight: #0d111c;
  }
}
